---
interface Props {
  width: number;
  height: number;
}

const {width, height} = Astro.props;
---

<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width=`${width}px` height=`${height}px` viewBox="0 0 593.000000 257.000000"
 preserveAspectRatio="xMidYMid meet">
<title>Antagonista Logo</title>
<g transform="translate(0.000000,257.000000) scale(0.100000,-0.100000)"
 class="fill-black dark:fill-white" stroke="none">
<path d="M4060 2550 c8 -5 20 -10 25 -10 6 0 3 5 -5 10 -8 5 -19 10 -25 10 -5
0 -3 -5 5 -10z"/>
<path d="M4135 2526 c22 -8 58 -14 80 -14 39 0 38 1 -10 8 -27 4 -63 10 -80
14 -20 4 -17 1 10 -8z"/>
<path d="M4287 2513 c18 -2 50 -2 70 0 21 2 7 4 -32 4 -38 0 -55 -2 -38 -4z"/>
<path d="M4463 2503 c9 -2 25 -2 35 0 9 3 1 5 -18 5 -19 0 -27 -2 -17 -5z"/>
<path d="M118 2373 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M25 2360 c-25 -11 1 -11 35 0 20 6 21 8 5 8 -11 0 -29 -3 -40 -8z"/>
<path d="M119 2343 c-13 -16 -12 -17 4 -4 9 7 17 15 17 17 0 8 -8 3 -21 -13z"/>
<path d="M1293 2333 c15 -2 37 -2 50 0 12 2 0 4 -28 4 -27 0 -38 -2 -22 -4z"/>
<path d="M1218 2323 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z"/>
<path d="M1408 2323 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z"/>
<path d="M4976 2288 c-3 -13 -6 -34 -6 -48 0 -14 -4 -31 -9 -38 -4 -7 -59 -24
-120 -38 -62 -13 -145 -35 -185 -49 -40 -14 -91 -25 -114 -25 -43 0 -51 -7
-31 -27 21 -21 2 -43 -35 -43 -41 0 -55 -15 -23 -25 27 -8 67 -9 127 -1 25 3
37 3 28 0 -10 -3 -18 -9 -18 -13 0 -9 26 -5 167 28 51 11 101 21 110 21 17 0
18 -33 18 -583 0 -320 -4 -663 -8 -762 -7 -174 2 -205 17 -62 8 75 26 81 26 9
0 -48 13 -82 23 -65 4 5 11 102 17 214 16 317 18 350 40 579 11 118 23 314 26
435 3 121 6 231 7 244 2 21 10 26 61 38 76 17 81 11 10 -11 -31 -10 -53 -20
-50 -23 11 -12 223 32 376 78 52 15 118 32 145 37 33 7 40 10 22 11 -16 1 -26
5 -22 11 9 15 -17 12 -51 -4 -24 -12 -226 -62 -334 -83 -24 -5 -24 -5 -5 10
11 8 57 22 103 32 45 10 82 22 82 28 0 5 16 7 38 3 23 -4 32 -3 23 2 -11 8
-11 10 0 15 8 3 -26 4 -76 1 l-90 -4 50 20 c28 11 58 23 68 26 9 4 17 11 17
16 0 5 10 6 23 3 17 -5 19 -4 7 4 -12 9 -13 11 -1 11 8 0 12 3 8 6 -6 7 -165
-16 -321 -47 -145 -28 -140 -30 -133 36 6 58 3 70 -7 33z m23 -300 c0 -35 -4
-83 -8 -108 -7 -37 -9 -25 -10 63 -1 65 3 107 9 107 6 0 10 -27 9 -62z m-50
35 c0 -10 -4 -27 -9 -38 -7 -16 -9 -13 -9 18 -1 20 4 37 9 37 6 0 10 -8 9 -17z
m42 -468 l-11 -40 5 40 c3 22 6 56 7 75 l1 35 4 -35 c2 -19 -1 -53 -6 -75z"/>
<path d="M505 2268 c-19 -97 -60 -246 -65 -243 -4 3 -14 -28 -23 -68 -8 -39
-31 -133 -50 -207 -74 -283 -206 -976 -176 -929 12 19 11 9 -5 -69 -8 -37 -17
-83 -20 -102 -5 -33 -5 -34 9 -16 8 11 15 24 15 30 0 5 2 7 5 4 5 -4 -14 -99
-51 -265 -19 -84 -14 -120 7 -50 9 33 15 42 20 30 6 -17 57 159 79 272 10 52
92 341 105 370 2 6 2 -8 0 -30 -4 -35 -2 -33 15 20 11 33 29 101 40 151 12 51
28 100 36 110 9 11 12 13 8 5 -5 -10 -3 -13 7 -9 8 3 43 14 77 23 34 10 60 21
57 24 -2 4 10 6 28 3 25 -3 29 -1 17 7 -8 6 -11 11 -5 11 20 0 56 -55 52 -78
-3 -13 1 -45 8 -70 12 -42 13 -44 15 -17 l2 30 8 -30 c4 -16 8 -39 8 -50 l1
-20 -10 20 c-7 14 -8 7 -4 -25 3 -24 10 -47 15 -50 5 -3 23 -77 40 -165 33
-167 66 -272 54 -170 -4 28 -8 115 -10 195 -2 102 -12 196 -32 315 l-29 170
26 12 26 11 -29 4 -29 3 -33 165 c-19 90 -50 230 -69 310 -19 81 -35 163 -35
183 0 19 -3 43 -7 53 -6 16 -7 16 -14 -2 -5 -12 -8 0 -8 35 -1 58 -8 59 -29 8
-9 -24 -11 -26 -8 -7 17 95 18 104 9 95 -5 -5 -20 -50 -34 -98 -30 -109 -36
-97 -15 30 9 52 15 97 12 100 -2 2 -7 -11 -11 -29z m64 -308 c0 -28 -2 -31 -9
-15 -5 11 -9 36 -9 55 0 28 2 31 9 15 5 -11 9 -36 9 -55z m-40 -112 c-14 -62
-20 -70 -13 -18 4 25 8 48 11 53 10 16 10 5 2 -35z m-49 -213 c-17 -75 -34
-135 -36 -132 -3 2 10 66 27 141 18 74 35 134 37 131 2 -2 -10 -65 -28 -140z
m146 -165 c5 -23 -1 -28 -78 -62 -45 -20 -84 -35 -86 -33 -3 3 74 365 85 395
4 12 50 -164 79 -300z m-286 9 c-20 -116 -26 -138 -33 -128 -5 6 45 260 50
255 2 -2 -5 -60 -17 -127z m300 -73 c0 -13 -107 -57 -134 -55 -9 0 121 68 132
69 1 0 2 -6 2 -14z m-223 -38 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1
-19z m-107 -78 c0 -5 -4 -10 -10 -10 -5 0 -10 5 -10 10 0 6 5 10 10 10 6 0 10
-4 10 -10z m-25 -100 c-21 -84 -32 -87 -15 -3 14 73 19 87 26 80 4 -3 -1 -38
-11 -77z m425 32 c0 -15 -2 -15 -10 -2 -13 20 -13 33 0 25 6 -3 10 -14 10 -23z
m-466 -226 c-3 -15 -8 -25 -11 -23 -2 3 -1 17 3 31 3 15 8 25 11 23 2 -3 1
-17 -3 -31z m563 -58 c-3 -7 -5 -2 -5 12 0 14 2 19 5 13 2 -7 2 -19 0 -25z
m-580 0 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m-10 -50 c-3 -8
-6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m-10 -40 c-3 -8 -6 -5 -6 6 -1
11 2 17 5 13 3 -3 4 -12 1 -19z"/>
<path d="M995 2290 c-28 -7 -28 -8 -5 -9 14 0 32 4 40 9 17 11 8 11 -35 0z"/>
<path d="M1538 2293 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M1638 2283 c12 -2 32 -2 45 0 12 2 2 4 -23 4 -25 0 -35 -2 -22 -4z"/>
<path d="M1748 2283 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M918 2273 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z"/>
<path d="M858 2263 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M1153 2262 c-17 -11 -3 -29 37 -46 45 -19 22 -20 -88 -2 -93 15 -99
6 -9 -13 80 -17 66 -24 -23 -11 -40 6 -75 8 -77 6 -3 -2 40 -14 94 -26 54 -12
136 -35 183 -50 47 -16 119 -39 161 -50 l76 -22 6 -136 c4 -74 7 -244 7 -377
0 -133 3 -271 7 -306 7 -61 8 -62 13 -24 3 22 9 -48 13 -155 12 -325 19 -430
28 -430 5 0 9 55 10 123 1 95 3 113 10 80 23 -120 28 -71 31 292 2 323 3 345
8 170 5 -173 6 -151 8 165 1 201 -2 359 -7 352 -5 -8 -10 33 -14 100 -3 62 -4
114 -2 116 1 2 44 -5 95 -14 71 -13 94 -14 99 -5 6 9 27 8 89 -4 73 -15 83
-15 97 -1 14 13 10 17 -40 32 -30 10 -55 21 -55 26 0 4 32 -4 71 -18 68 -25
88 -26 75 -5 -7 11 -174 67 -329 110 -59 17 -111 33 -116 35 -5 3 -11 20 -15
38 -5 26 -9 30 -16 18 -5 -8 -10 -22 -10 -31 0 -15 -16 -12 -127 17 -71 19
-135 33 -143 32 -14 -2 -89 9 -120 18 -8 2 -20 0 -27 -4z m540 -219 c-7 -2
-19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z m-143 -35 c0 -36 -4 -35 -14 5
-4 16 -2 27 4 27 5 0 10 -14 10 -32z m187 26 c-3 -3 -12 -4 -19 -1 -8 3 -5 6
6 6 11 1 17 -2 13 -5z m-150 -216 c-2 -13 -4 -5 -4 17 -1 22 1 32 4 23 2 -10
2 -28 0 -40z"/>
<path d="M788 2253 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M648 2233 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M378 2203 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z"/>
<path d="M7 2193 c7 -2 19 -2 26 0 6 3 1 5 -13 5 -14 0 -19 -2 -13 -5z"/>
<path d="M283 2193 c9 -2 25 -2 35 0 9 3 1 5 -18 5 -19 0 -27 -2 -17 -5z"/>
<path d="M98 2183 c29 -2 74 -2 100 0 26 2 2 3 -53 3 -55 0 -76 -1 -47 -3z"/>
<path d="M4096 2119 c-14 -11 -24 -25 -21 -30 4 -5 2 -9 -4 -9 -20 0 -23 -65
-5 -110 9 -25 18 -46 19 -47 0 -1 18 -9 39 -18 21 -9 35 -11 31 -6 -3 6 -2 11
4 11 5 0 23 11 39 25 22 18 28 31 25 49 -3 13 0 33 6 44 14 27 -3 76 -34 96
-33 22 -67 20 -99 -5z m106 -171 c-7 -7 -12 -8 -12 -2 0 14 12 26 19 19 2 -3
-1 -11 -7 -17z"/>
<path d="M3908 2067 c-5 -10 -8 -32 -8 -47 0 -36 -17 -49 -23 -18 -2 13 -4
-33 -3 -102 0 -69 -4 -262 -9 -430 -9 -339 -4 -326 -66 -160 -15 41 -47 127
-72 190 -24 63 -56 150 -71 193 -16 42 -32 77 -37 77 -5 0 -9 14 -9 30 0 35
-17 40 -23 8 -4 -20 -4 -20 -6 4 0 15 -5 30 -11 33 -5 3 -10 26 -10 50 0 41
-12 66 -24 47 -3 -5 -8 -57 -12 -115 -8 -120 -23 -143 -26 -39 -1 51 -3 40 -8
-48 -4 -63 -3 -234 1 -380 5 -146 9 -330 9 -410 0 -97 3 -140 10 -130 5 8 10
56 11 105 l2 90 12 -80 c11 -71 13 -75 15 -35 l2 45 8 -48 c9 -52 20 -73 21
-41 0 12 5 6 13 -16 l13 -35 7 55 c4 30 6 198 4 372 -2 174 0 314 3 310 8 -9
40 -92 44 -113 2 -9 17 -43 33 -75 16 -33 53 -117 82 -189 29 -71 62 -141 72
-155 10 -14 24 -55 30 -90 12 -67 28 -102 28 -61 0 12 4 19 10 16 6 -3 10 -2
10 4 0 6 6 8 13 5 10 -3 12 16 9 93 -2 54 4 256 12 448 23 513 24 555 14 561
-4 3 -8 -1 -9 -8 0 -7 -7 -85 -13 -173 l-13 -160 -3 170 c-1 94 -5 159 -9 145
-3 -16 -8 3 -11 50 -3 47 -8 68 -12 57z m-254 -476 c14 -35 25 -66 23 -68 -3
-2 -11 13 -20 34 -8 21 -23 56 -32 78 -9 22 -13 36 -8 30 5 -5 22 -39 37 -74z
m46 -116 c0 -5 -5 -3 -10 5 -5 8 -10 20 -10 25 0 6 5 3 10 -5 5 -8 10 -19 10
-25z"/>
<path d="M5333 1999 c6 -67 -11 -167 -21 -124 -5 22 -36 -111 -112 -475 -27
-129 -64 -305 -84 -390 -49 -222 -59 -280 -48 -293 7 -8 6 -33 0 -71 -8 -44
-7 -60 2 -66 7 -5 9 -21 5 -46 -9 -56 9 -22 25 46 7 30 21 66 31 80 11 15 34
103 59 225 22 110 40 201 40 203 0 12 101 -14 215 -56 l130 -48 28 -109 c60
-238 140 -502 160 -532 40 -60 42 -46 21 117 l-4 35 12 -32 c7 -17 17 -35 22
-40 15 -14 -4 74 -67 321 -42 167 -57 241 -49 244 17 5 15 22 -3 22 -8 0 -14
3 -13 8 1 4 -4 20 -10 35 -7 16 -41 174 -77 351 -66 330 -89 421 -81 316 2
-30 2 -46 -1 -35 -2 11 -10 25 -17 30 -16 12 -51 120 -67 203 -12 63 -29 92
-29 50 0 -26 -16 -55 -25 -47 -3 4 -11 34 -18 67 -17 85 -31 91 -24 11z m14
-111 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12 1 -19z m40 -156 c-3 -4 5
-54 17 -112 13 -58 23 -114 23 -125 0 -11 21 -95 48 -188 26 -92 46 -170 43
-172 -2 -3 -42 10 -89 29 -46 18 -99 37 -116 41 -18 3 -35 10 -38 15 -3 4 6
55 19 112 13 56 37 172 52 255 16 84 33 153 37 153 5 0 6 -3 4 -8z"/>
<path d="M3266 2014 c-27 -14 -90 -41 -139 -60 -157 -60 -238 -112 -197 -126
6 -2 6 -14 1 -33 -9 -28 -9 -29 -10 -5 -1 23 -3 23 -12 7 -6 -10 -8 -29 -5
-42 3 -13 10 -88 16 -165 5 -77 18 -196 29 -263 11 -67 26 -167 35 -223 17
-112 48 -219 71 -249 15 -20 15 -20 21 2 3 13 10 20 15 17 5 -3 13 6 18 19 10
27 25 34 89 47 60 11 109 -5 117 -39 3 -14 11 -44 17 -66 l11 -40 10 40 c17
74 25 368 19 695 -4 179 -9 307 -12 285 -6 -38 -6 -37 -14 25 -4 36 -6 74 -5
85 6 52 -2 115 -13 115 -7 0 -35 -12 -62 -26z m4 -563 c7 -199 9 -378 6 -397
-6 -27 -12 -34 -29 -33 -21 0 -21 1 -2 10 17 8 16 9 -5 4 -14 -3 -51 -9 -82
-12 -69 -7 -63 -26 -77 237 -6 107 -18 264 -27 348 -10 88 -13 157 -8 162 5 5
52 26 104 48 l95 39 6 -22 c4 -13 12 -186 19 -384z m-252 59 c-1 -103 -1 -103
-8 -35 -4 39 -7 108 -7 155 0 77 0 80 7 35 5 -27 8 -97 8 -155z m132 -510
c-20 -13 -50 -13 -50 0 0 6 15 10 33 10 24 0 28 -3 17 -10z"/>
<path d="M862 1887 c3 -67 15 -205 27 -307 11 -102 27 -255 36 -340 9 -85 22
-193 30 -240 7 -47 16 -112 20 -145 10 -94 16 -125 26 -119 5 3 9 -12 10 -33
0 -21 4 -47 9 -58 7 -16 9 -12 9 20 1 30 4 36 11 25 8 -12 10 -10 10 8 0 20
-35 537 -55 802 -6 83 1 82 36 -5 13 -33 34 -75 46 -94 13 -19 23 -39 23 -46
0 -7 13 -29 30 -50 16 -20 41 -60 54 -89 93 -198 116 -252 116 -280 0 -24 -3
-27 -10 -16 -6 9 -10 10 -10 3 0 -6 4 -14 9 -17 5 -4 12 -40 16 -81 9 -90 25
-109 25 -29 0 49 2 55 15 44 13 -11 15 3 16 116 2 133 3 133 15 -1 l8 -80 8
60 c5 37 2 177 -7 360 -8 165 -15 356 -16 425 0 116 -1 122 -14 90 l-13 -35
-1 58 c-1 69 -17 75 -28 10 l-7 -48 -7 40 c-4 22 -5 -14 -4 -80 l3 -120 -10
103 c-6 56 -14 102 -18 102 -13 0 -19 -153 -13 -332 3 -98 3 -178 0 -178 -16
0 -185 326 -232 447 -15 40 -32 70 -36 67 -5 -3 -9 7 -9 21 0 14 -4 24 -8 21
-5 -3 -15 20 -21 50 -7 31 -14 54 -16 52 -3 -2 -6 -27 -9 -56 -3 -38 -2 -51 7
-46 8 5 8 3 0 -6 -17 -18 -26 -7 -25 30 0 16 -3 32 -8 35 -4 3 -6 -3 -3 -14 3
-10 1 -21 -5 -24 -5 -4 -9 13 -10 36 -1 23 -8 47 -15 54 -9 10 -11 -12 -5
-110z m138 -85 c0 -15 -2 -15 -10 -2 -13 20 -13 33 0 25 6 -3 10 -14 10 -23z"/>
<path d="M2696 1988 c-11 -6 -45 -12 -75 -13 -41 -1 -79 -11 -141 -40 -47 -21
-97 -38 -112 -39 -16 -1 -28 -4 -28 -8 0 -16 -20 -7 -21 10 -1 9 -5 4 -9 -13
l-8 -30 -1 27 c-2 40 -21 45 -21 5 0 -45 -11 -54 -26 -20 l-12 28 -1 -32 c-1
-23 -6 -33 -17 -33 -11 0 -14 -5 -10 -17 4 -10 12 -54 17 -98 12 -95 23 -141
54 -215 12 -30 34 -113 49 -185 15 -71 38 -168 51 -215 13 -47 35 -130 49
-185 26 -108 42 -155 51 -155 3 0 4 17 1 38 -3 20 -3 28 1 17 7 -27 33 -44 64
-45 38 0 170 47 190 69 10 11 35 25 55 31 30 10 38 10 45 -1 6 -10 9 -8 9 9 0
12 8 26 18 29 9 4 19 10 22 14 11 15 -18 389 -32 405 -5 7 -6 30 -2 52 9 55
-2 98 -20 82 -10 -7 -15 -7 -18 0 -2 7 -14 7 -36 1 -28 -8 -34 -7 -45 10 -17
27 -28 24 -25 -8 3 -28 2 -28 -60 -31 -51 -2 -63 -6 -58 -17 3 -8 0 -15 -7
-16 -7 0 -3 -5 8 -10 17 -8 16 -8 -7 -4 -31 6 -49 -13 -24 -27 9 -5 14 -13 11
-19 -9 -14 34 -11 80 6 73 26 81 22 94 -45 8 -37 10 -96 5 -157 -3 -58 -2
-108 4 -123 10 -25 7 -27 -106 -78 -79 -36 -118 -49 -122 -41 -4 6 -11 50 -14
97 -7 89 -45 335 -91 587 -30 170 -30 165 -2 164 30 -1 152 48 222 89 11 7 63
30 115 52 l95 41 -64 -5 -63 -4 53 24 c32 15 49 28 43 34 -11 11 -75 -5 -193
-49 -46 -17 -86 -30 -88 -28 -4 4 50 27 149 62 26 10 45 21 42 26 -7 12 -15
11 -38 -3z m-196 -173 c0 -2 -18 -9 -41 -15 -22 -6 -47 -14 -56 -17 -11 -4
-14 -2 -9 5 10 17 106 42 106 27z"/>
<path d="M1481 1964 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
<path d="M4328 1905 c-3 -6 -9 -118 -13 -250 -4 -132 -11 -241 -16 -243 -19
-7 -8 -32 16 -38 30 -7 33 -24 5 -24 -11 0 -20 -4 -20 -10 0 -5 9 -19 20 -30
11 -11 20 -27 20 -35 0 -9 6 -12 15 -9 8 4 15 1 15 -6 0 -11 24 -40 33 -40 3
0 7 8 9 18 4 14 26 22 107 36 57 10 105 15 108 12 3 -3 14 -54 25 -113 21
-122 24 -332 4 -338 -6 -2 -85 -8 -176 -12 -171 -8 -214 -23 -98 -34 35 -3 48
-6 31 -7 -18 -1 -33 -5 -33 -9 0 -13 14 -30 30 -37 13 -5 -38 -2 -114 7 -28 3
-30 -18 -4 -30 22 -10 21 -11 -15 -18 -41 -8 -46 -31 -6 -28 109 6 239 23 264
33 17 7 58 21 93 30 l62 17 0 -22 c0 -33 32 -104 38 -85 3 8 11 20 18 25 11 8
14 72 16 290 2 272 -4 385 -23 385 -5 0 -9 -10 -9 -22 0 -43 -10 -10 -15 47
-4 53 -15 91 -15 52 0 -33 -19 -16 -27 24 -11 53 -26 51 -37 -5 -4 -26 -12
-46 -18 -46 -5 0 -6 9 -3 20 8 25 6 25 -90 0 -43 -11 -80 -18 -83 -16 -2 3 -6
79 -9 170 l-5 166 28 0 c43 0 101 18 172 52 49 24 62 34 56 47 -3 9 -7 25 -9
36 -2 28 -61 31 -184 10 -116 -19 -144 -16 -151 16 -3 13 -8 19 -12 14z m22
-489 c0 -8 -4 -18 -10 -21 -5 -3 -10 3 -10 14 0 12 5 21 10 21 6 0 10 -6 10
-14z"/>
<path d="M1492 1865 c0 -16 2 -22 5 -12 2 9 2 23 0 30 -3 6 -5 -1 -5 -18z"/>
<path d="M2010 1840 c0 -6 -4 -9 -9 -6 -5 3 -12 -15 -16 -40 -9 -61 -28 -106
-21 -51 5 40 -1 67 -14 67 -4 0 -10 -22 -13 -48 -3 -27 -28 -123 -56 -214 -27
-90 -57 -200 -65 -244 -48 -248 -57 -302 -76 -429 -11 -77 -19 -160 -19 -185
l1 -45 19 55 19 55 -6 -108 c-3 -70 -14 -136 -29 -190 -14 -45 -25 -91 -25
-102 0 -17 2 -17 15 -5 19 20 87 264 130 470 19 91 49 227 67 303 l32 138 30
-7 c64 -14 73 -23 24 -23 -48 -1 -72 -16 -41 -25 10 -3 43 -8 74 -11 31 -4 61
-10 67 -13 5 -4 40 -158 77 -342 37 -184 69 -337 72 -340 3 -3 3 11 -1 30 -4
19 -9 53 -11 75 l-5 40 13 -42 c6 -23 15 -45 19 -49 4 -4 5 -19 2 -33 -5 -21
-3 -23 6 -11 9 12 11 10 6 -12 -3 -14 -2 -37 3 -50 8 -18 10 -9 11 42 1 62 1
64 15 40 17 -30 19 -10 5 40 -9 31 -32 181 -45 300 -5 42 -3 40 19 -25 21 -62
24 -66 25 -35 1 43 -25 156 -83 355 -24 83 -63 249 -87 370 -23 121 -46 224
-50 228 -7 9 -4 -14 17 -122 8 -40 14 -81 13 -90 -1 -22 -58 189 -59 216 0 12
-7 28 -15 37 -8 8 -15 19 -15 25 0 5 -4 13 -10 16 -5 3 -10 1 -10 -5z m40
-393 c18 -76 30 -140 28 -142 -6 -6 -92 5 -107 14 -7 5 -4 47 12 143 12 75 25
134 28 130 4 -4 21 -69 39 -145z m-193 -149 c-3 -8 -6 -5 -6 6 -1 11 2 17 5
13 3 -3 4 -12 1 -19z m-10 -50 c-3 -8 -6 -5 -6 6 -1 11 2 17 5 13 3 -3 4 -12
1 -19z m-10 -50 c-3 -7 -5 -2 -5 12 0 14 2 19 5 13 2 -7 2 -19 0 -25z m390
-540 c-3 -7 -5 -2 -5 12 0 14 2 19 5 13 2 -7 2 -19 0 -25z"/>
<path d="M4129 1648 c0 -39 -1 -41 -11 -20 -6 12 -16 21 -21 19 -5 -1 -10
-183 -10 -458 -1 -438 -1 -457 18 -485 l20 -29 5 40 c5 35 7 37 13 18 12 -33
30 -29 24 5 -6 31 9 123 22 131 4 4 5 175 1 383 -6 331 -9 378 -23 393 -10 9
-17 23 -17 31 0 8 -4 14 -10 14 -5 0 -10 -19 -11 -42z"/>
<path d="M861 1664 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
<path d="M468 1143 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M545 1115 c26 -16 54 -24 80 -23 l40 1 -45 6 c-25 4 -56 14 -70 24
-13 9 -29 17 -35 17 -5 0 8 -11 30 -25z"/>
<path d="M1088 1123 c6 -2 18 -2 25 0 6 3 1 5 -13 5 -14 0 -19 -2 -12 -5z"/>
<path d="M100 1090 c-8 -5 -10 -10 -5 -10 6 0 17 5 25 10 8 5 11 10 5 10 -5 0
-17 -5 -25 -10z"/>
<path d="M40 1060 c-9 -6 -10 -10 -3 -10 6 0 15 5 18 10 8 12 4 12 -15 0z"/>
<path d="M48 673 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M4101 664 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
<path d="M3638 323 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M4788 173 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
<path d="M5691 156 c2 -2 15 -9 29 -15 24 -11 24 -11 6 3 -16 13 -49 24 -35
12z"/>
<path d="M4155 140 c-8 -13 5 -13 25 0 13 8 13 10 -2 10 -9 0 -20 -4 -23 -10z"/>
<path d="M4923 108 c11 -10 27 -18 36 -17 10 0 7 4 -8 10 -14 5 -30 13 -36 17
-6 4 -2 -1 8 -10z"/>
<path d="M5096 91 c-3 -4 6 -6 19 -3 14 2 25 6 25 8 0 8 -39 4 -44 -5z"/>
<path d="M5013 83 c9 -2 25 -2 35 0 9 3 1 5 -18 5 -19 0 -27 -2 -17 -5z"/>
</g>
</svg>
