<!--?xml version="1.0" encoding="utf-8"?-->
<svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 500 500"
    fill="none"
    stroke="#000000"
    stroke-width="30"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="dark:stroke-white hover:stroke-purple-800 dark:hover:stroke-purple-500"
    width="24px"
    height="24px"
>
    <title>MangaPlus</title>
    <path
        d="M 353.676 410.12 L 430.117 431.574 L 406.727 357.324"
        style="stroke-width: 40px;"
    ></path>
    <path
        d="M 113.186 247.796 L 376.714 247.796"
    ></path>
    <path
        d="M 244.949 116.032 L 244.949 379.559"
    ></path>
    <path
        d="M 353.676 410.12 C 228.721 493.822 60.018 410.865 50.011 260.81 C 39.999 110.743 196.187 6.122 331.149 72.478 C 437.57 124.811 473.209 259.108 406.727 357.324"
        style="stroke-width: 40px;"
    ></path>
</svg>
