---
import {Fragment} from 'astro/jsx-runtime'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>404 - Página no encontrada</title>
	</head>
	<body class="flex h-screen items-center justify-center bg-gray-950">
		<main class="text-center">
			<h1 class="text-9xl font-bold text-gray-200">404</h1>
			<p class="mt-4 text-2xl text-gray-400">Oops! Página no encontrada.</p>
			<p class="mt-2 text-gray-300">Parece que la página que buscas no existe.</p>
			<p class="mt-6 text-gray-500">Para votar por tu Antofagasta xd.</p>
			<a href="/" class="mt-6 inline-block rounded-lg bg-primary px-6 py-3 font-bold text-white hover:bg-primary/70">
				Volver a la página de inicio ←
			</a>
		</main>
	</body>
</html>
