---
import {getSession} from "auth-astro/server";
import Layout from "@layouts/Layout.astro";
import CharactersPage from "@components/AllCards";

const session = await getSession(Astro.request);
const statesession = session ? true : false;
---

<Layout title="Personajes | Sistema de Votacion Antagonista" css="bg-transparent">
  <main id="top">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
      <div class="text-center mb-12">
        <h1 class="text-4xl font-bold text-gray-900 mb-4">
          Encuesta de Popularidad
        </h1>
        <p class="text-lg text-gray-600 mb-2">
          ¡Vota por tus personajes favoritos y ayúdalos a subir al top!
        </p>
        <div class="md:max-w-md mx-auto mt-6 max-w-72">
          <p
            class="text-sm md:text-lg py-2 px-12 md:px-2 font-bold border-2 bg-violet-50/80 border-primary text-primary rounded-lg"
          >
            Vota por tus 3 personajes favoritos
          </p>
        </div>
      </div>
      
      <!-- {
        session ? (
            <CharactersPage client:load />
        ) : (
          <div class="text-center">
            <p class="text-sm text-gray-600 mb-2">
              ¡Inicia sesión para votar!
            </p>
          </div>
        )
      } -->

      <CharactersPage statesession={statesession} client:load />

      <!-- El inicio de sesion se puede cambiar a Gmail de Google -->
      <!-- <p class=" text-center font-bold mt-8 bg-red-400/50 border border-red-600 py-3 px-5 text-red-950">Nota:  <br> (Esto es un Prototipo)</p> -->
       <!-- crea un footer con @2424 como texto -->
      </div>
      <footer class="text-center text-gray-50 py-3 bg-primary">
        © 2024 Copyright: antagonista.site
      </footer>
    <a
      href="#top"
      class="fixed text-white flex items-center justify-center font-bold bottom-0 right-0 mb-2 mr-2 w-11 h-11 z-10 bg-zinc-800 rounded-full hover:bg-primary hover:border-violet-200 hover:border-2"
    >
      ↑
    </a>
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
