---
import Layout from '@layouts/Layout.astro'
import Titles from '@components/astrojs/Titles.astro'
import CharactersPage from '@components/vuejs/AllCards.vue'
---

<Layout title="Personajes | Sistema de Votacion Antagonista">
	<div id="top">
		<section class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
			<Titles
				title="Segunda Encuesta de Popularidad"
				subtitle="¡Vota por tus personajes favoritos y ayúdalos a subir al top!"
				info="Vota por tus 3 personajes favoritos"
			/>
			<CharactersPage client:load />
		</section>
	</div>
</Layout>

<style>
	html {
		scroll-behavior: smooth;
	}
</style>
