---
import Image from 'astro/components/Image.astro'
const {src, name} = Astro.props
---

<div class="flex items-center gap-3 rounded-xl bg-purple-800 px-2 py-1 text-sm text-white md:px-4">
	<!-- <img src={src} alt="avatar" class="w-6 h-6 rounded-full" /> -->
	<Image src={src} alt="avatar" width="24" height="24" class="rounded-full" />
	<span class="hidden text-xs font-bold md:block">{name}</span>
</div>
