---
interface Props {
	title: string
	description: string
}

const {title, description} = Astro.props
---

<section class="relative isolate px-6 lg:px-8 mb-32">
	<div class="mx-auto max-w-3xl py-16 sm:py-28 lg:py-28">
		<div class="text-center">
			<h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">
				{title}
			</h1>
			<p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-400">
				{description}
			</p>
			<div class="mt-10 flex items-center justify-center gap-x-6">
				<a
					href="/personajes"
					class="skew-x-[-20deg] border-2 border-primary px-8 py-3 text-xl font-bold uppercase transition-all hover:scale-110 hover:bg-primary hover:text-white motion-safe:hover:ease-out dark:relative dark:border-purple-600 dark:bg-transparent dark:text-white dark:hover:shadow-xl dark:hover:shadow-purple-600"
				>
					<span class="dark:absolute dark:inset-0 dark:rounded-lg dark:bg-purple-500 dark:opacity-30 dark:blur-lg"
					></span>
					<span class="dark:relative">Empieza a Votar</span>
				</a>

				<!-- <button
          class="relative px-6 py-3 text-white font-bold uppercase tracking-wider bg-black border-2 border-pink-500 rounded-lg transition-transform transform hover:scale-105"
        >
          <span
            class="absolute inset-0 bg-pink-500 blur-lg opacity-50 rounded-lg"
          ></span>
          <span class="relative">Botón Neón</span>
        </button> -->

				<!-- <button
          class="relative px-8 py-4 text-white font-semibold uppercase tracking-widest bg-gray-900 border-2 border-lime-400 rounded-lg transition-all hover:shadow-lime-500 hover:shadow-2xl hover:scale-110"
        >
          <span
            class="absolute inset-0 bg-lime-400 blur-lg opacity-30 rounded-lg"
          ></span>
          <span class="relative">Neón Lime</span> -->
				<!-- </button> -->

				<!-- <div
        class="w-40 h-20 flex justify-center items-center text-sky-200 border-2 rounded-lg border-sky-200 shadow-lg shadow-cyan-500 transform transition-all hover:drop-shadow-xl hover:shadow-2xl hover:scale-110"
    >
        Neon container
    </div> -->
			</div>
		</div>
	</div>
</section>
