---
interface Props {
  title: string;
  description: string;
}

const {title, description} = Astro.props;
---

<section class="relative isolate px-6 lg:px-8">
  <div class="mx-auto max-w-3xl py-16 sm:py-28 lg:py-28">
    <div class="text-center">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl 
        dark:text-white">
        {title}
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-600 dark:text-gray-400">
        {description}
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/personajes"
          class="text-xl uppercase skew-x-[-20deg] font-bold px-8 py-3 border-2 transition-all motion-safe:hover:ease-out
          border-primary hover:bg-primary hover:text-white hover:scale-110
          dark:relative dark:text-white dark:bg-transparent dark:border-purple-600 dark:hover:shadow-xl dark:hover:shadow-purple-600"
        >
          <span
            class="dark:absolute dark:inset-0 dark:bg-purple-500 dark:blur-lg dark:opacity-30 dark:rounded-lg"
          ></span>
          <span class="dark:relative">Empieza a Votar</span>
        </a>

        <!-- <button
          class="relative px-6 py-3 text-white font-bold uppercase tracking-wider bg-black border-2 border-pink-500 rounded-lg transition-transform transform hover:scale-105"
        >
          <span
            class="absolute inset-0 bg-pink-500 blur-lg opacity-50 rounded-lg"
          ></span>
          <span class="relative">Botón Neón</span>
        </button> -->

        <!-- <button
          class="relative px-8 py-4 text-white font-semibold uppercase tracking-widest bg-gray-900 border-2 border-lime-400 rounded-lg transition-all hover:shadow-lime-500 hover:shadow-2xl hover:scale-110"
        >
          <span
            class="absolute inset-0 bg-lime-400 blur-lg opacity-30 rounded-lg"
          ></span>
          <span class="relative">Neón Lime</span> -->
        <!-- </button> -->

        <!-- <div
        class="w-40 h-20 flex justify-center items-center text-sky-200 border-2 rounded-lg border-sky-200 shadow-lg shadow-cyan-500 transform transition-all hover:drop-shadow-xl hover:shadow-2xl hover:scale-110"
    >
        Neon container
    </div> -->
      </div>
    </div>
  </div>
</section>
